# 제로베이스 데이터 취업 스쿨 SQL 과제 1
- 스타벅스 이디야 데이터 분석

### 8문제 총 100점

- 1번 5점
- 2번 5점
- 3번 10점
- 4번 5점
- 5번 15점
- 6번 15점
- 7번 40점
- 8번 5점

### 1 ~ 8번 모두 본 노트북 파일에 답안 작성해서 제출해주세요 :)

---

문제 1.

AWS RDS (MySQL) 에 프로젝트 관련 Database 를 생성하고, 접근 가능한 사용자 계정을 생성하세요.

- Database Name : oneday
- User Name / Password : oneday / 1234

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\sori4\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\sori4\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [2]:
import mysql.connector

In [3]:
remote = mysql.connector.connect(
    host = "oneday.c93l4fp83jyc.us-east-2.rds.amazonaws.com",
    port = 3306,
    user = 'admin',
    password = '12341234'
)

In [4]:
cur = remote.cursor(buffered=True)

In [5]:
cur.execute("CREATE DATABASE oneday")
cur.execute("GRANT ALL ON oneday.* to 'oneday'@'%'")

remote.commit()

제출 1.
- Database 생성문 조회 결과 : SHOW CREATE DATABASE oneday;
- 사용자 권한 확인 결과 : SHOW GRANT FOR ‘oneday’@‘%’

In [6]:
cur.execute("SHOW CREATE DATABASE oneday;")

result = cur.fetchall()

for row in result:
    print(row)

('oneday', "CREATE DATABASE `oneday` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */")

In [7]:
cur.execute("SHOW GRANTS FOR 'oneday'@'%'")
result2 = cur.fetchall()

for row in result2:
    print(row)

('GRANT USAGE ON *.* TO `oneday`@`%`',)
('GRANT ALL PRIVILEGES ON `oneday`.* TO `oneday`@`%`',)

문제 2.

스타벅스 이디야 데이터를 저장할 테이블을 다음의 구조로 생성하세요. (PDF 파일 참고)

In [8]:
cur.execute("use oneday")
cur.execute("""CREATE TABLE COFFEE_BRAND 
            (
                id int auto_increment PRIMARY KEY, 
                name varchar(16)
                );""")

remote.commit()

In [9]:
sql = """CREATE TABLE COFFEE_STORE (
            id int auto_increment PRIMARY KEY, 
            brand int, 
            name varchar(32), 
            gu_name varchar(5), 
            address varchar(128), 
            lat decimal(16, 14), 
            lng decimal(17, 14), 
            CONSTRAINT FK_id FOREIGN KEY (brand) REFERENCES COFFEE_BRAND(id)
        );"""

cur.execute(sql)
remote.commit()

문제 3.

Python 코드로 COFFEE_BRAND 데이터를 다음과 같이 입력하고 확인하세요. (PDF 파일 참고)

In [10]:
cur.execute("""INSERT INTO COFFEE_BRAND(id, name) VALUES (1, 'STARBUCKS'), (2, 'EDIYA')""")

remote.commit()

제출 2.
- Table 생성 결과 : Desc COFFEE_BRAND; Desc COFFEE_STORE;

제출 3.
- COFFEE_BRAND 조회 결과 : SELECT * FROM COFFEE_BRAND;

In [11]:
cur.execute("desc COFFEE_BRAND;")
result = cur.fetchall()

for row in result:
    print(row)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('name', 'varchar(16)', 'YES', '', None, '')

In [12]:
cur.execute("desc COFFEE_STORE;")
result4 = cur.fetchall()

for row in result4:
    print(row)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('brand', 'int', 'YES', 'MUL', None, '')
('name', 'varchar(32)', 'YES', '', None, '')
('gu_name', 'varchar(5)', 'YES', '', None, '')
('address', 'varchar(128)', 'YES', '', None, '')
('lat', 'decimal(16,14)', 'YES', '', None, '')
('lng', 'decimal(17,14)', 'YES', '', None, '')

In [13]:
cur.execute("select * from COFFEE_BRAND;")

result = cur.fetchall()

for row in result:
    print(row)

(1, 'STARBUCKS')
(2, 'EDIYA')

제출 4.
- 팝업 예외처리 코드 & 실행 결과 (ipynb)

제출 5.
- 스타벅스 데이터 관련 코드 & 실행 결과 (ipynb)

문제 4.

스타벅스 페이지에 접근하는 코드에서 팝업창이 없는 경우, 팝업창을 닫는 코드에서 에러가 발생합니다. 예외처리 해서 에러
메시지를 출력하고 실행이 중단되지 않도록 수정해주세요.

In [14]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException


driver = webdriver.Chrome()
driver.get("https://www.starbucks.co.kr/")

try:
    popup_close_button = driver.find_element(By.CSS_SELECTOR, ".holiday_notice_close_a")
    popup_close_button.click()
    
except NoSuchElementException as e:
    print(e)

Message: no such element: Unable to locate element: {"method":"css selector","selector":".holiday_notice_close_a"}
  (Session info: chrome=118.0.5993.120); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF722558EF2+54786]
	(No symbol) [0x00007FF7224C5612]
	(No symbol) [0x00007FF72237A64B]
	(No symbol) [0x00007FF7223BB79C]
	(No symbol) [0x00007FF7223BB91C]
	(No symbol) [0x00007FF7223F6D87]
	(No symbol) [0x00007FF7223DBEAF]
	(No symbol) [0x00007FF7223F4D02]
	(No symbol) [0x00007FF7223DBC43]
	(No symbol) [0x00007FF7223B0941]
	(No symbol) [0x00007FF7223B1B84]
	GetHandleVerifier [0x00007FF7228A7F52+3524194]
	GetHandleVerifier [0x00007FF7228FD800+3874576]
	GetHandleVerifier [0x00007FF7228F5D7F+3843215]
	GetHandleVerifier [0x00007FF7225F5086+694166]
	(No symbol) [0x00007FF7224D0A88]
	(No symbol) [0x00007FF7224CCA94]
	(No symbol) [0x00007FF7224CCBC2]
	(No symbol) [0x00007FF7224BCC83]
	BaseThreadInitThunk [0x00007FFBA732257D+29]
	RtlUserThreadStart [0x00007FFBA8A4AA78+40]

문제 5.

Python 코드로 스타벅스 페이지에서 데이터를 가져올때, COFFEE_STORE 테이블에 바로 입력하도록 수정하세요.

- 데이터 세트: 매장 이름, 매장이 위치한 구 이름, 매장 주소, 위도, 경도
- 필요한 데이터를 한세트씩 가져와서 COFFEE_STORE 테이블에 각각INSERT 하도록 합니다.
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
- 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.

In [15]:
import time
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

driver = webdriver.Chrome() #셀레니움이 업데이트 되어 크롭 드라이버를 다운받지 않아도 됨
driver.maximize_window()
driver.get('https://www.starbucks.co.kr/store/store_map.do?disp=locale')

time.sleep(1)

#클릭
sido_cd_btn = driver.find_element(By.CSS_SELECTOR, '#container > div > form > fieldset > div > section > article.find_store_cont > article > article:nth-child(4) > div.loca_step1 > div.loca_step1_cont > ul > li:nth-child(1) > a')
sido_cd_btn.click()

time.sleep(1)

gugun_cd_btn = driver.find_element(By.XPATH, '//*[@id="mCSB_2_container"]/ul/li[1]/a' )
gugun_cd_btn.click()

time.sleep(1)

html = driver.page_source
soup = BeautifulSoup(html, "html.parser")

locations = soup.select('#mCSB_3_container > ul > li')

In [16]:
cur.execute("use oneday")

In [17]:
# 데이터 가져와서 COFFEE_STORE 테이블에 INSERT
insert_query = "INSERT INTO COFFEE_STORE (brand, name, gu_name, address, lat, lng) VALUES (1, %s, %s, %s, %s, %s)"

for location in locations:
    names = location.select_one("strong").text
    address = location.select_one("p").text
    gu_add = location.select_one("p").text.split(" ")[1]
    data_lat = location['data-lat']
    data_long = location['data-long']

    cur.execute(insert_query, (names, gu_add, address, data_lat, data_long))

remote.commit()

In [18]:
# 입력된 데이터의 총 갯수 쿼리
cur.execute("SELECT COUNT(*) FROM COFFEE_STORE")
total_count = cur.fetchone()[0]
print(f"총 데이터 갯수: {total_count}")

# 상위 10개 데이터 쿼리
cur.execute("SELECT * FROM COFFEE_STORE LIMIT 10")
top_10_data = cur.fetchall()
print("상위 10개 데이터:")
for row in top_10_data:
    print(row)

driver.quit()

총 데이터 갯수: 607
상위 10개 데이터:
(1, 1, '역삼아레나빌딩  ', '강남구', '서울특별시 강남구 언주로 425 (역삼동)1522-3232', Decimal('37.50108700000000'), Decimal('127.04306900000000'))
(2, 1, '논현역사거리  ', '강남구', '서울특별시 강남구 강남대로 538 (논현동)1522-3232', Decimal('37.51017800000000'), Decimal('127.02222300000000'))
(3, 1, '신사역성일빌딩  ', '강남구', '서울특별시 강남구 강남대로 584 (논현동)1522-3232', Decimal('37.51393090000000'), Decimal('127.02060570000000'))
(4, 1, '국기원사거리  ', '강남구', '서울특별시 강남구 테헤란로 125 (역삼동)1522-3232', Decimal('37.49951700000000'), Decimal('127.03149500000000'))
(5, 1, '대치재경빌딩R  ', '강남구', '서울특별시 강남구 남부순환로 2947 (대치동)1522-3232', Decimal('37.49466800000000'), Decimal('127.06258300000000'))
(6, 1, '봉은사역  ', '강남구', '서울특별시 강남구 봉은사로 619 (삼성동)1522-3232', Decimal('37.51500000000000'), Decimal('127.06319600000000'))
(7, 1, '압구정윤성빌딩  ', '강남구', '서울특별시 강남구 논현로 834 (신사동)1522-3232', Decimal('37.52279340000000'), Decimal('127.02860090000000'))
(8, 1, '코엑스별마당  ', '강남구', '서울특별시 강남구 영동대로 513 (삼성동)1522-3232', Decimal('37.51015000000000'), Decimal('127.06027500000000'))
(9, 1, '삼성역섬유센터R  ', '강남구', '서울특별시 강남구 테헤란로 518 (대치동)1522-3232', Decimal('37.50775000000000'), Decimal('127.06065100000000'))
(10, 1, '압구정R  ', '강남구', '서울특별시 강남구 언주로 861 (신사동)1522-3232', Decimal('37.52736690000000'), Decimal('127.03306100000000'))

문제 6.

Python 코드로 이디야 페이지에서 데이터를 가져올때, COFFEE_STORE 테이블에 바로 입력하도록 수정하세요.

- 데이터 세트 : 매장 이름, 매장이 위치한 구 이름, 매장 주소, 위도, 경도
- 이디야 페이지에서 검색에 사용할 구 이름은 COFFEE_STORE 에서 중복을 제거하는 쿼리를 사용하여 가져와서 {‘서울 ‘ + 구이름} 형식으로 변환하여 사용하도록 합니다.
- 필요한 데이터를 한 세트씩 가져와서 COFFEE_STORE 테이블에 각각 INSERT 하도록 합니다.
- (주의) COFFEE_STORE 테이블에 입력할 구 이름은 {‘서울 ‘} 이 제거된 구 이름입니다.
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
- 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.

In [ ]:
cur.execute("use oneday")

In [19]:
import googlemaps
from tqdm import tqdm_notebook

gmaps_key = 'AIzaSyCiHXsM5pgR02fjYgLbDPhqE3Je4p1PBQg '
gmaps = googlemaps.Client(key=gmaps_key)

driver = webdriver.Chrome()
driver.get("https://www.ediya.com/contents/find_store.html")
driver.find_element(By.CSS_SELECTOR, "#contentWrap > div.contents > div > div.store_search_pop > ul > li:nth-child(2) > a").click()

# 서울의 구 이름 가져오기 (중복 제거)
gu_list = []
cur.execute("SELECT DISTINCT gu_name FROM COFFEE_STORE")
result = cur.fetchall()
for row in result:
    gu_list.append(str('서울 ')+ row[0])

# 데이터 가져와서 COFFEE_STORE 테이블에 INSERT

insert_query = "INSERT INTO COFFEE_STORE (brand, name, gu_name, address, lat, lng) VALUES (2, %s, %s, %s, %s,%s)"

for i in tqdm_notebook(range(len(gu_list))):
    
    #구 이름 집어넣고 클릭하는 동작
    kw = driver.find_element(By.CSS_SELECTOR, "#keyword")
    kw.clear()
    kw.send_keys(gu_list[i])
    btn = driver.find_element(By.CSS_SELECTOR, "#keyword_div > form > button")
    btn.click()
    
    time.sleep(1)

    html = driver.page_source
    soup = BeautifulSoup(html, "html.parser")

    locations2 = soup.select('#placesList > li > a')

    for location in locations2:
        try:
            name = location.select_one("dt").text
            add = location.select_one("dd").text
            gu = location.select_one("dd").text.split(" ")[1]

            tmp = gmaps.geocode(add, language='ko')
            lat = tmp[0].get('geometry')['location']['lat']
            long = tmp[0].get('geometry')['location']['lng']

            cur.execute(insert_query, (name, gu, add, lat, long))
            remote.commit()
        
        except:
            pass

C:\Users\sori4\AppData\Local\Temp/ipykernel_25580/2708582205.py:22: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i in tqdm_notebook(range(len(gu_list))):

  0%|          | 0/25 [00:00<?, ?it/s]

제출 6.
- 이디야 데이터 관련 코드 & 실행 결과 (ipynb)

In [20]:
# 입력된 데이터의 총 갯수 쿼리
cur.execute("SELECT COUNT(*) FROM COFFEE_STORE")
total_count = cur.fetchone()[0]
print(f"총 데이터 갯수: {total_count}")

총 데이터 갯수: 1214

In [21]:
# 상위 10개 데이터 쿼리
cur.execute("SELECT * FROM COFFEE_STORE LIMIT 10")
top_10_data = cur.fetchall()
print("상위 10개 데이터:")
for row in top_10_data:
    print(row)

driver.quit()

상위 10개 데이터:
(1, 1, '역삼아레나빌딩  ', '강남구', '서울특별시 강남구 언주로 425 (역삼동)1522-3232', Decimal('37.50108700000000'), Decimal('127.04306900000000'))
(2, 1, '논현역사거리  ', '강남구', '서울특별시 강남구 강남대로 538 (논현동)1522-3232', Decimal('37.51017800000000'), Decimal('127.02222300000000'))
(3, 1, '신사역성일빌딩  ', '강남구', '서울특별시 강남구 강남대로 584 (논현동)1522-3232', Decimal('37.51393090000000'), Decimal('127.02060570000000'))
(4, 1, '국기원사거리  ', '강남구', '서울특별시 강남구 테헤란로 125 (역삼동)1522-3232', Decimal('37.49951700000000'), Decimal('127.03149500000000'))
(5, 1, '대치재경빌딩R  ', '강남구', '서울특별시 강남구 남부순환로 2947 (대치동)1522-3232', Decimal('37.49466800000000'), Decimal('127.06258300000000'))
(6, 1, '봉은사역  ', '강남구', '서울특별시 강남구 봉은사로 619 (삼성동)1522-3232', Decimal('37.51500000000000'), Decimal('127.06319600000000'))
(7, 1, '압구정윤성빌딩  ', '강남구', '서울특별시 강남구 논현로 834 (신사동)1522-3232', Decimal('37.52279340000000'), Decimal('127.02860090000000'))
(8, 1, '코엑스별마당  ', '강남구', '서울특별시 강남구 영동대로 513 (삼성동)1522-3232', Decimal('37.51015000000000'), Decimal('127.06027500000000'))
(9, 1, '삼성역섬유센터R  ', '강남구', '서울특별시 강남구 테헤란로 518 (대치동)1522-3232', Decimal('37.50775000000000'), Decimal('127.06065100000000'))
(10, 1, '압구정R  ', '강남구', '서울특별시 강남구 언주로 861 (신사동)1522-3232', Decimal('37.52736690000000'), Decimal('127.03306100000000'))

문제 7.

Python 코드에서 다음의 데이터를 쿼리를 사용하여 조회하세요.

- 스타벅스 매장 주요 분포 지역 (매장수가 많은 상위 5개 구이름, 매장 개수 출력)
- 이디야 매장 주요 분포 지역 (매장수가 많은 상위 5개 구이름, 매장 개수 출력)
- 구별 브랜드 각각의 매장 개수 조회 (구이름, 브랜드이름, 매장 개수 출력)
- 구별 브랜드 각각의 매장 개수 조회 (구이름, 스타벅스 매장 개수, 이디야 매장 개수 출력)

제출 7.
- 관련 코드 & 실행 결과 (ipynb)

In [22]:
#스타벅스 매장 주요 분포 지역(매장 수가 가장 많은 상위 5개 구 이름, 매장이름)
sql = "SELECT s.gu_name, count(s.brand) from COFFEE_BRAND b, COFFEE_STORE s \
        WHERE b.id = s.brand AND b.name = 'starbucks' \
        GROUP BY s.gu_name ORDER BY count(s.brand) desc LIMIT 5"

cur.execute(sql)
result = cur.fetchall()

for row in result:
    print(row)

('강남구', 89)
('중구', 54)
('서초구', 48)
('영등포구', 42)
('종로구', 40)

In [23]:
#이디야 매장 주요 분포 지역(매장 수가 가장 많은 상위 5개 구 이름, 매장이름)
sql = "SELECT s.gu_name, count(s.brand) from COFFEE_BRAND b, COFFEE_STORE s \
        WHERE b.id = s.brand AND b.name = 'ediya' \
        GROUP BY s.gu_name ORDER BY count(s.brand) desc LIMIT 5"

cur.execute(sql)
result = cur.fetchall()

for row in result:
    print(row)

('강남구', 39)
('영등포구', 39)
('송파구', 33)
('강서구', 31)
('마포구', 30)

In [24]:
#구별 브랜드 각각의 매장 개수 조회 (구이름, 브랜드이름, 매장 개수 출력)
sql = "SELECT s.gu_name, s.count starbucks, e.count ediya \
        FROM (SELECT gu_name, count(brand) count FROM COFFEE_STORE WHERE brand = 1 GROUP BY gu_name) s, \
             (SELECT gu_name, count(brand) count FROM COFFEE_STORE WHERE brand = 2 GROUP BY gu_name) e  \
        WHERE s.gu_name = e.gu_name"

cur.execute(sql)
result = cur.fetchall()

for row in result:
    print(row)

('강남구', 89, 39)
('강북구', 6, 12)
('강서구', 27, 31)
('관악구', 12, 23)
('광진구', 18, 20)
('금천구', 13, 19)
('노원구', 14, 20)
('도봉구', 6, 22)
('동작구', 11, 21)
('마포구', 36, 30)
('서대문구', 22, 15)
('서초구', 48, 28)
('성북구', 15, 26)
('송파구', 36, 33)
('양천구', 17, 20)
('영등포구', 42, 39)
('은평구', 13, 23)
('종로구', 40, 28)
('중구', 54, 29)
('강동구', 17, 23)
('구로구', 14, 24)
('동대문구', 10, 23)
('성동구', 14, 19)
('용산구', 25, 13)
('중랑구', 8, 27)

문제 8.

시각화 프로젝트를 위하여 다음의 규칙으로 쿼리하여 CSV 파일로 저장합니다. (Python 코드로 작업)

- 전체 데이터를 가져오는데, 각 스타벅스 매장별로 이디야 전체 매장정보가 매칭되어 있어야 합니다. (정렬 : s_id, e_id 순)
- 다음의 형식으로 저장되어야 합니다. (브랜드 이름, 칼럼 명 주의)
- 데이터 프레임 출력을 해주세요. 데이터 프레임 미출력시 감점입니다.

제출 8.
- 시각화 프로젝트 관련 코드 (ipynb), 결과 파일 (csv)

In [25]:
sql = "SELECT * FROM (SELECT s.id s_id, b.name s_brand, s.gu_name s_gu, s.address s_address, s.lat s_lat, s.lng s_lng from COFFEE_STORE s, COFFEE_BRAND b \
        WHERE b.id = s.brand and b.name like 'STARBUCKS') sb, \
        (SELECT s.id e_id, b.name e_brand, s.name e_name, s.gu_name e_gu, s.address e_address, s.lat e_lat, s.lng e_lng FROM COFFEE_STORE s, COFFEE_BRAND b \
        WHERE b.id = s.brand and b.name like 'EDIYA') ed \
        ORDER BY sb.s_id, ed.e_id"

cur.execute(sql)
result = cur.fetchall()
des = len(cur.description)
fn = [i[0] for i in cur.description]

df = pd.DataFrame(result)
df.columns = fn

df.to_csv('coffee_output.csv', index = False, encoding = 'utf-8')
remote.close()

---